* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.carousel {
  height: 100vh;
  background: #1180ab;
}

.item .info-box {
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
  height: 280px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.info-box .info-slider {
  height: inherit;
}

.info-slider .info-item {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  transform: translateY(calc(var(--i) * 100%));
}

.info-item h2 {
  font-size: 40px;
  line-height: 1;
}

.info-item p {
  font-size: 16px;
  margin: 15px 0 20px;
}

.info-item .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 48px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.item .img-box {
  position: absolute;
  left: 35%;
  top: 50%;
  transform: translateY(-50%);
  width: 800px;
  height: 700px;
  display: flex;
  align-items: center;
}

.img-box .img-slider {
  width: inherit;
  height: inherit;
}

.img-slider .img-item {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-item img {
  pointer-events: none;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2 ));
}

.thumb {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  list-style: none;
}

.thumb li {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  margin: 20px 0;
  overflow: hidden;
}


.thumb li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}